.card-info .card-info__icon {
    padding: 0.75rem;
}

.card-info .card-info__icon .card-info__icon-svg {
    background-color: black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info .card-info__icon .card-info__icon-svg svg {
    width: 1rem;
    height: 1rem;
    fill: white;
}

.card-info .card-info__content {
    padding: 0.75rem;
}

.card-info .card-info__content h5 {
    font-size: 1.125rem;
}

.card-info .card-info__content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.65rem;
}

.card-about {
    border-radius: 0.4rem;
    flex: 32%;
}

.card-about .card-about__header {
    height: 272px;
    width: 100%;
    overflow: hidden;
}

.card-about .card-about__header img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.card-about .card-about__body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-about .card-about__body h5 {
    font-size: 1.125rem;
}

.card-about .card-about__body p {
    font-size: 0.85rem;
    margin-top: 0.25rem;
}

/*  33.33% -> 33% + 0.33%  */