/* Position */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* Colors */
.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-white {
    color: white;
}

/* Background */
.bg-primary {
    background-color: var(--color-primary);;
}

.bg-secondary {
    background-color: var(--color-secondary);;
}

/* Weight */
.font-normal {
    font-weight: 400;   
}

.font-bold {
    font-weight: 700;
}